<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body dir="rtl">
    <div class="container">
        <h2>שינוי סיסמא</h2>

        {% if success_message %}
        <div style="color: green;">{{ success_message }}</div>
        {% endif %}

        <form action="{{ url_for('change_password_forgot_password') }}?email={{ email }}&source_table={{ source_table }}" method="post">
            <label for="new_password">סיסמא חדשה</label>
            <input type="password" id="new_password" name="new_password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" title="הסיסמא חייבת להכיל לפחות 6 תווים, כולל אותיות גדולות וקטנות באנגלית ומספרות.">
            <label for="confirm_password">אימות סיסמא חדשה</label>
            <input type="password" id="confirm_password" name="confirm_password" required>            <input type="submit" value="Change Password">
        </form>

    </div>

    {% if error_message %}
    <script>
        showPopup("{{ error_message }}");
    </script>
    {% endif %}

</body>
</html>
