<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body dir="rtl">
<div class="container2" align="center">
    <img src="{{ url_for('static', filename='logo2.png') }}" alt="Description of the image" width="320" height="100">
    <h2>אנשי קשר</h2>
    <table border="1">
        <thead>
            <tr>
                <th> ID</th>
                <th> יוזר</th>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>נייד</th>
                <th>כתובת מייל</th>
                <th>סיסמא</th>
                <th> האם פעיל</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="redirect-button2" onclick="redirectToMainAssociation()">חזור</button>
    <img src="{{ url_for('static', filename='amuta.png') }}" alt="Description of the image" width="200" height="200">
</div>

<script>
    function redirectToMainAssociation() {
        window.location.href = "main_association";
    }
</script>

</body>
</html>
