<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>איפוס סיסמה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body dir="rtl">
    <div class="container">
        <h2>איפוס סיסמה</h2>

        {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>
        {% endif %}

        <form action="/forgot_password" method="post">
            <input type="email" name="email" placeholder="כתובת מייל" required>
            <input type="submit" value="שלח מייל איפוס">
        </form>
        <input type="button" class="back-button" value="חזור להתחברות" onclick="goBackToLogin()">
    </div>

    <script>
        function goBackToLogin() {
            window.location.href = "user_login";
        }
    </script>

    {% if error_message %}
    <script>
        showPopup("{{ error_message }}");
    </script>
    {% endif %}
</body>
</html>
